<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="title-small mb-2">Ben Kimim?</h5>
                    <h3 class="title-big">Ben @ViewBag.Title,</h3>
                    <p class="mt-4">
                        @ViewBag.description
                    </p>
                    <a href="@Url.Action("Download", "Portfolio")" class="btn btn-style btn-primary mt-lg-5 mt-4">Cv İndir</a>
                </div>
            </div>
        </div>
    </div>
</section>

