@model MyPortfolio.Models.Entities.Achievement
@{
    ViewBag.Title = "AchievementEkle";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Sertifika Ekleme Sayfası</h2>
<br />
@using (Html.BeginForm("AchievementEkle", "Achievement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <input type="submit" value="Kaydet" class="btn btn-outline-primary" />
}


